{% extends "layout.html" %}

{% block head %}
<style>
    li {
        color : Black;
    }
</style>
{% endblock %}

{% block title %}
    Benefits
{% endblock %}

{% block main %}
<section class="sectionl">
    <h2>10 Health Benefits of Dancing</h2><br>
    <p>Dancing is definitely fun and enjoyable, but did you know there are many health benefits associated with the activity?</p>
    <p>The constant movement is not just great for your physical health, but also your mental well-being! We’ve got 10 great reasons to keep dancing</p>
    <p>(even if you think you’re uncoordinated or an amateur).</p><br>
</section>

<section class="title">
    <h3 class="center">Dance can lead to:</h3><br>
</section>

    <ol>
        <section class="sectionr">
            <li><strong>Better Brain Health</strong></li><br>
                <p>A study done by The New England Journal of Medicine found that dancing can boost your memory and even prevent the onset of dementia. Other studies have also found that aerobic dance exercises can reverse volume loss in the part of the brain that controls memory (the hippocampus), which tends to shrink during late adulthood.</p>
                <p>Taking the time to remember steps and the changing movements of a dance is also a great way to challenge your brain, no matter your age. Scientists have found cognitive skills such as planning and organizing also improve with an exercise like dance.</p><br>
        </section>

        <section class="sectionc">
            <li><strong>Improved Flexibility</strong></li><br>
                <p>The movements associated with dance can increase flexibility and reduce stiffness. Don’t over-exert yourself though – even the simple stretches associated with dancing can help ease joint pain and any soreness from other more strenuous exercises.</p><br>
        </section>

        <section class="sectionl">
            <li><strong>Minimized Stress</strong></li><br>
                <p>A study conducted by the Journal of Applied Gerontology found that partner dance accompanied by music can relieve stress. Other studies have also shown similar results, with some indicating dance can increase levels of the hormone serotonin, which can improve your mood. </p><br>
        </section>

        <section class="sectionr">
            <li><strong>Reduced Depression</strong></li><br>
                <p>A study looking at the effects of dance on patients experiencing depression found that those who participated in an upbeat group dance showed the least number of symptoms associated with depression and were more energetic and upbeat as a result.</p><br>
        </section>

        <section class="sectionc">
            <li><strong>Weight Loss</strong></li><br>
                <p>Increased movement also usually means increased weight loss. A study in the Journal of Physiological Anthropology found aerobic dance training can help you lose just as much weight as biking or jogging.</p><br>
        </section>

        <section class="sectionl">
            <li><strong>Increased Energy</strong></li><br>
                <p>Research from The Scholarly Publishing and Academic Resources Coalition found a weekly dance program can improve adults’ physical performance and increase their energy levels.</p><br>
        </section>

        <section class="sectionr">
            <li><strong>Improved Cardiovascular Health</strong></li><br>
                <p>Of course, the faster you dance, the faster your heart will beat, which can lead to a stronger and healthier heart.</p><br>
                <p>An Italian study found that people with heart failure who started practicing waltzing had much better heart health, breathing, and quality of life compared to those who simply cycled or walked on a treadmill.</p><br>
        </section>

        <section class="sectionc">
            <li><strong>Better Coordination Strength & Balance</strong></li><br>
                <p>Dancing requires lots of fast movement and good posture, which can help you gain better control of your body. Moreover, there are 3 primary planes of motion; unlike simple movements such as walking and cycling, which only involve the sagittal plane of your body, dancing works your body from all planes, which means ALL your muscles are involved, not just some.</p><br>
                <p>If you’re scared about falling when you’re older, dancing may ease some of those worries as well. A study in the Journal of Aging and Physical Activity showed that tango dancing can improve balance amongst older adults.</p><br>
        </section>

        <section class="sectionl">
            <li><strong>Improved Social & Emotional Health</strong></li><br>
                <p>A dance class is a great way to make new friends and branch out socially! Having positive relationships is a major contributing factor to better mental health – it can increase feelings of happiness, reduce stress, and even lead to a stronger immune system.</p><br>
        </section>

        <section class="sectionr">
            <li><strong>Higher Self-Esteem & Confidence</strong></li><br>
                <p>Studies show that dancers tend to report higher levels of self-esteem and more confidence.</p><br>
                <p>Dance can be beneficial for people of all ages. Many forms, such as ballroom dancing, can be tame enough for people with limited mobility or chronic health issues, while other forms can allow kids to express themselves freely, let out their energy, and practice discipline by memorizing and learning certain steps.</p><br>
        </section>
    </ol>
    <p class="center">Text taken from another website: <a href="https://www.prudential.co.th/corp/prudential-th/en/we-do-pulse/health-wellness/10-health-benefits-of-dancing/">link to article</a></p>

{% endblock %}