{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block title %}
    Day
{% endblock %}

{% block main %}
<section class="sectionr">
    <h2>About the International Dance Day</h2><br>
        <p>In 1982 the Dance Committee of ITI founded International Dance Day to be celebrated every year on the 29th April, the birthday of Jean-Georges Noverre (1727-1810), creator of modern ballet. The intention of the International Dance Day Message is to celebrate dance, revel in the universality of this art form, cross all political, cultural and ethnic barriers, and bring people together with a common language - dance.</p><br>
        <p>Every year a message from an outstanding choreographer or dancer is circulated throughout the world. The author of the message is selected by the International Dance Committee of ITI and the Executive Council of ITI. The message is translated into numerous languages and circulated globally.</p><br>
</section>

<section class="sectionc">
    <h2>International Dance Day 2022</h2><br>
    <img src="https://www.international-dance-day.org/images/2022onlinecelebration.jpg" alt="grafika"><br><br>
</section>

<section class="sectionl">
    <p>The International Theatre Institute ITI was pleased to announce that the International Dance Day 2022 Online Celebration would happen on Friday, 29 April 2022 online, organized by the General Secretariat of ITI.</p><br>
    <p>International Dance Day 2022, which was the 40th Anniversary of the Day, the celebration presented one video from that year’s Message Author and five dance productions, each from one region (Africa, Asia-Pacific, the Americas, Europe, and Arab Countries). The aim of the celebration was to gather people together and show the world the beauty and diversity of dance art. All the videos of the dance productions were seen on the official website of International Dance Day on 29 April.</p><br>
    <p>Besides the online celebration, the South Korean Centre of ITI, together with the General Secretariat of ITI also organized an on-site celebration in Seoul, South Korea.</p><br>
    <p><a href="https://www.youtube.com/watch?v=Gyt1A9Ek7FE">To re-watch the event, please click here.</a></p><br>
</section>

    <p class="center">Text taken from another website: <a href="https://www.international-dance-day.org/internationaldanceday.html">link to article</a></p>
{% endblock %}