{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/workspaces/122936010/project/static/styles.css">
    <style>
        .sectionr{
            max-width: 40%;

        }
    </style>
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<section class="sectionr">
    <h2>Project description</h2><br>
    <p>This website is a CS50 course project.</p>
    <p>Its main goal is to encourage people to dance and show the history of dance.</p>
    <p>I am asking you to fill out the survey, which can be found in the "Form" tab.</p>
    <p>Enjoy surfing my website.</p><br>
</section>

    <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzAf-z1TIzHLRq9oZJV-YaMuXA-l8Oo4t--JsyO2RGzDgAxQvCjEMuJhV5XwklHOD7vGc&usqp=CAU" alt="CS50" class="logo"></p><br>


{% endblock %}