{% extends "layout.html" %}

{% block head %}


{% endblock %}

{% block title %}
    Why
{% endblock %}

{% block main %}
<section class="sectionr">
    <p><h2>Why do people dance?</h2></p>
        <p>That’s it. Simply, why? What is it about moving our bodies to a song we love that is so joyfully Pavlovian? Why do we watch videos, obsess over our reflection in the kitchen window, and yes, take lessons to perfect something that could easily be labeled as trivial? Why do we put ourselves through the physical fatigue and the occasional social awkwardness just to call ourselves dancers? Why do we love it so?</p>
        <p>There are the obvious answers. We dance for physical fitness. We dance for mental clarity. We dance for emotional stability, and other such pluses.</p>
        <p>However, all these benefits could be attained by others means, though I confess I have yet to find a better alternative than a great cha cha to lift both one’s heart-rate and spirits. Still, we do not need to dance to acquire a sound mind and body. So, there must be more reasons why we do so. There must be something glorious about dancing that is more than just intangible; it must be almost imperceptible. We cannot seem to explain it, yet we all know it so well that we do not hesitate to tap our feet to a Gershwin melody or pulse with the percussion of a samba rhythm. So why do we dance?</p>
        <p>Perhaps dance is the way we express ourselves when words are insufficient. The joy we feel over new found love, the determination we have in the face of great sorrow or adversity, the passionate fire of our youth and the peacefulness of our softer and more graceful years – maybe they are never expressed more fully than through a waltz, or a tango, or a jive. We all want to be understood, and if we could truly speak the words that describe our feelings, how deep and powerful they would surely be. But alas, those words never seem to come to us just right.</p>
</section>

<section class="sectionc">
    <p><h3>Maybe dance is simply a translator for the human heart</h3></p>
        <p>Perhaps dance is the medium through which we show the world who we truly are and who we can be. All of us, if we are honest, believe deep down that we are not ordinary. We know ourselves to be wonderfully unique, with many layers of personality and talent woven in such a way that no one on earth could possibly have our same make-up. We know it. We just do not always know how to prove it.</p>
</section>

<section class="sectionl">
    <p><h3>Maybe dance gives us the opportunity.</h3></p>
        <p>And perhaps dance is how we choose to remember, how we hold on to the past. It is how we relive the fun-filled days of our youth or the time we looked in their eyes and knew they were the one. It is our tribute to the heroes of yesterday who jitterbugged like carefree boys and girls, when tomorrow they would march as men and women to defend freedom’s cause. It is the chance to be a princess again, waiting for an out-stretched hand and the call to a romance that is graceful, true, and not as forgotten as the cynics say.  When we dance, we can remember them all a little better, feel the butterflies once again, and if only for a moment, return to the purest part of our lives when time was of no matter…for we were dancing.</p>
        <p>Why do we dance? Every answer will be different, and that is as it should be. Perhaps the better question is, “Why would we not?”</p>
</section>

        <p class="center">Text taken from another website: <a href="https://dancewithmeusa.com/why-we-dance-the-reasons/">link to article</a></p>


{% endblock %}